<!-- <input type="text" [(ngModel)]="title" />
{{ title }}

<input type="number" [(ngModel)]="power" />
{{ power | exponential }}

<div *ngIf="title === 'andres'">Esto Andres</div>
<div *ngIf="title === 'David'">Esto David</div>
<div *ngIf="title === 'Camilo'">Esto Camilo</div>
<div *ngIf="title === 'Edwin'">Esto Edwin</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Andres'">Esto Andres</p>
  <p *ngSwitchCase="'David'">Esto David</p>
  <p *ngSwitchCase="'Solarte'">Esto Solarte</p>
  <p *ngSwitchCase="'Vidal'">Esto Vidal</p>
  <p *ngSwitchDefault>No hay nada</p>
</div>

<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">Delete Item</button>
  </li>
</ul> -->
